.features-three-link::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #8B78FA;
    z-index: -1;
    top: 4px;
    left: 3px;
    border-radius: .5rem;
    transition: .4s;
}
.features-three-link:hover {
    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: #8B78FA;
        z-index: -1;
        top: -4px;
        left: -3px;
        border-radius: .5rem;
    }
}